@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700&display=swap');
.App {
  text-align: center;
  margin:1rem;
  margin:0;
  padding:3rem;
  height:100%;
}
html{
  background-color:rgb(34, 34, 34);
}

.login-title{
  font-family: 'Montserrat', sans-serif;
  color:white;
  font-weight:700;
}
