/* controls the styling for the price div container */
.expenseItemPriceContainer{
    display: flex;
    width:100%;
    justify-content: flex-end;
    align-self: center;
    margin:1rem 0;
    background:rgb(53, 53, 53);
    padding:0 1%;
}
/* actual price font color */
.expenseItemPrice{
    color:white;  
}
/* What the expense is ie: car insurance */
.expenseItem{
    color:rgb(221, 221, 221);
    font-size:1.1rem;
    margin-bottom:0;
    margin-top:2%;
}

h2.expenseItem{
    padding-left:5%;
    width:100%;
    display:flex;
    align-self: center;
    margin:0;
}