@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: rgb(37, 37, 37);
}

.budgetTitle{
  background:rgb(53, 53, 53);
  width:95%;
  border-radius:8px;
  padding:20px;
  margin-top:2.5%;
  margin-left:2.5%;
  margin-right:2.5%;
  margin-bottom:1%;
}

h1{
  color:rgb(255, 91, 31);
  margin-bottom:0;
}

.expenseBudgetLog{
  margin-top:10px;
  color: rgb(221, 221, 221);
}